@charset "utf-8";
/* CSS Document */

/* UTILITY CLASSES */

.clearfix::after {
	
	clear: both;
	
}

.clear {
	
	clear: both;
	
}

.table {
	
	display: table;
	
}

.table_row {
	
	display: table-row;
	
}

.table_cell {
	
	display: table-cell;
	
}

/* GRID CLASSES */

.outer_grid_container {
	
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	width: 980px;
	max-width: 100%;
	
}

.inner_grid_container {
	
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	
}

/* FONTS */

div.titlebar div.title_container h1 {
	
	font-family: 'franklin-gothic-urw-n5','franklin-gothic-urw','Franklin Gothic Medium',Arial,Sans-serif;
	
}

/* MENU BAR */
div.menubar {
	
	background-color: #e3dfcc;
	border-top: 1px solid #b1b1b1;
	height: 50px; /*guesstimate*/
	
}

div.FH_logo {
	
	float:left;
	padding: 4px 0;
	
}

div.menu_container {
	
	float:right;
	font-size: 14px;
	font-size: 0.875rem;
	padding: 16px 0;
	padding: 1rem 0;
	
}

div.menu_container nav div.navigation_link_container a {
	
	text-decoration: none;
	color: black;
	padding: 0 10px;
	padding: 0 0.625rem;
	
}

div.menu_container nav div.navigation_link_container a:hover { 

	color:#666666; 
	text-decoration: underline;

}

div.menu_container nav div.navigation_link_container {
	
	display: inline-block;
	
}

div.menu_container nav div.navigation_link_container::after {
	
	content: "|";
	text-decoration: none;
	
}

div.menu_container nav div.navigation_link_container:first-child a {
	
	padding-left: 0;
	
}

div.menu_container nav div.navigation_link_container:last-child a {
	
	padding-right: 0;
	
}

div.menu_container nav div.navigation_link_container:last-child::after {
	
	content: "";
	
}

/* TITLE BAR */

div.titlebar_container {
	
	height: 32px;
	margin-top: 45px;
	margin-top: 2.8125rem;
	box-sizing: border-box;
	
}

div.title_container {
	
	width: 60.71%;
	margin: 0;
	vertical-align: top;

}

div.title_container h1 {
	
	font-size: 28px;
	font-size: 1.75rem;
	line-height: 32px;
	margin: 0;
	padding: 0 0 0 10px;
	
}

div.controls_container {
	
	width: 10.72%;
	margin: 0;
	font-size: 18px;
	font-size: 1.125rem;
	text-align: right;
	border-spacing: 14px 0px;
	border-spacing: 0.875rem 0rem;
	
}

div.controls_container img.control_arrow {
	
	cursor: pointer;
	
}

div.controls_container img.control_arrow.disabled {
	
	cursor: default;
	
}

div.controls_container span.controls_text {
	
	vertical-align: middle;
	text-align: center;
	
}

div.sharing_container {

	width: 28.57%;
	text-align: right;
	margin: 0;
	padding: 0 10px;
	
}

div.sharing_container span.share_options {
	
	display: inline-block;
	
}

/* MAIN CONTENT CONTAINER */

div.content_container {
	
	margin-top: 10px;
	
}

/* PRIMARY CONTENT AREA */

div.primary_content_container {
	
	width: 700px;
	max-width: 72.9%;
	box-sizing: border-box;
	float: left;
	
}

div.primary_content_container div.slide_photos_container {
	
	position: relative;
	
}

div.primary_content_container div.slide_photos_container div.slide_photo {
	
	display: none;
	
}

div.primary_content_container div.slide_photos_container div.slide_photo.active {
	
	display: block;
	
}

div.primary_content_container div.slide_photos_container div.slide_photo img {
	
	max-width: 100%;
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	
}

div.primary_content_container div.slide_photos_container div.slide_control {
	
	position: absolute;
	top: 0;
	display: block;
	height: 469px; /* To be changed via JS when necessary */
	z-index: 5;
	
}

div.primary_content_container div.slide_photos_container div#left_slide_control {
	
	left: 0;
	width: 233.33px; /* To be changed by JS when necessary */
	max-width: 33%;
	
}

div.primary_content_container div.slide_photos_container div#right_slide_control {
	
	right: 0;
	width: 466.66px; /* To be changed by JS when necessary */
	max-width: 66%;
	
}

div.primary_content_container div.slide_photos_container div.slide_control div.control_image {
	
	display: none;
	width: 31px;
	height: 52px;
	position: absolute;
	top: 208.5px; /* To be changed by JS when necessary; (Slide height / 2) - (control image height / 2) */
	z-index: 5;
	cursor: pointer;
	text-indent: -10000px;
	
}

div.primary_content_container div.slide_photos_container div.slide_control div.control_image.visible {
	
	display: block;
	
}

div.primary_content_container div.slide_photos_container div.slide_control div#left_control_image {
	
	left: 0;
	background-image: url(img/LeftGrayArrow.png);
	
}

div.primary_content_container div.slide_photos_container div.slide_control div#right_control_image {
	
	right: 0;
	background-image: url(img/RightGrayArrow.png);
	
}

/* SECONDARY CONTENT AREA */

div.secondary_content_container {
	
	width: 220px;
	max-width: 22.9%;
	box-sizing: border-box;
	float: left;
	
}

/* THUMBNAIL NAVIGATION */

div.secondary_content_container div.thumbnail_navigation_container {
	
	height: 62px;
	background-color: #000000;
	margin-bottom: 20px;
	
}

div.secondary_content_container div.thumbnail_navigation_container > div {
	
	float: left;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_navigation_control {
	
	width: 15px;
	padding: 0;
	margin: 0;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_navigation_control img {
	
	cursor: pointer;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport {
	
	width: 188px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container {
	
	width: 200px;
	position: relative;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image {
	
	float: left;
	width: 62px;
	height: 62px;
	overflow: hidden;
	margin-right: 1px;
	position: relative;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image img {
	
	margin: 0;
	padding: 0;
	max-width: 100%;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image div.thumbnail_filter {
	
	position: absolute;
	left: 0;
	top: 0;
	width: 62px;
	height: 62px;
	z-index: 100;
	background-color: #444444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
	opacity: 0.8;
	
}

div.secondary_content_container div.thumbnail_navigation_container div.thumbnail_viewport div.thumbnail_container div.thumbnail_image.active_thumbnail div.thumbnail_filter {
	
	visibility: hidden;
	
}

/* SLIDE INFORMATION */

div.secondary_content_container div.slide_information_container div.slide_information {
	
	display: none;
	
}

div.secondary_content_container div.slide_information_container div.slide_information.active {
	
	display: block;
	
}

/* HEADLINE */

div.secondary_content_container div.slide_information_container div.slide_information div.headline_container {
	
	padding-bottom: 6px;
	padding-bottom: 0.375rem;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.headline_container h2 {
	
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	color: black;
	
}

/* CAPTION */

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container {
	
	padding-bottom: 4px;
	padding-bottom: 0.25rem;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	color: black;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container :first-child {
	
	padding-top: 0;
	margin-top: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.caption_container :last-child {
	
	padding-bottom: 0;
	margin-bottom: 0;
	
}

/* PHOTO CREDIT */

div.secondary_content_container div.slide_information_container div.slide_information div.photo_credit_container {
	
	padding-bottom: 20px;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.photo_credit_container span.photo_credit {
	
	font-size: 12px;
	font-size: 0.75rem;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: black;
	
}

/* RELATED CONTENT */

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container h3.related_content_header {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-size: 0.625rem;
	text-transform: uppercase;
	color: black;
	margin: 0;
	padding: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item {
	
	margin-bottom: 20px;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item:last-child {
	
	margin-bottom: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item a {
	
	text-decoration: none;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item h4.related_content_item_title {
	
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
	margin: 0 0 4px 0;
	margin: 0 0 0.25rem 0;
	padding: 0;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item h4.related_content_item_title:hover {
	
	text-decoration: underline;
	
}

div.secondary_content_container div.slide_information_container div.slide_information div.related_content_container div.related_content_item img.related_content_item_photo {
	
	max-width: 120px;
	
}

/* FOOTER */

div.footer_container {
	
	min-height: 100px; /* guesstimate */
	min-height: 6.25rem;
	background-color: #2c2825;
	padding-top: 12px;
	padding-top: 0.75rem;
	margin-top: 20px;
	color: #f6f4ec;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	
}

div.footer_container div.footer_item {
	
	float: left;
	
}

div.footer_container div.fred_hutch_description {
	
	width: 380px;
	max-width: 39.6%;
	
}

div.footer_container div.donate_button_container {
	
	width: 220px;
	max-width: 23%;
	text-align: center;
	padding-top: 16px;
	padding-top: 1rem;
	
}

div.footer_container div.donate_button_container img.donate_button {
	
	display: block;
	margin: 0 auto;
	
}

div.footer_container div.social_icons_container {
	
	width: 300px;
	max-width: 31.25%;
	padding-top: 8px;
	padding-top: 0.5rem;
	
}